<p class="product">
  <span class="float-right">
    <%= link_to 'Show', product %> | 
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  Score: ??
  <b class="name">Product: </b><%= product.name %>
  <b class="item"><%= product.item %></b><br/>
  <span class="product-icon"><%= image_tag(product.image, :size => "70x100") %></span>
  <b>Price: </b><%= number_to_currency(product.price) %><br/>
  <b> Stock: </b><%= number_with_delimiter(product.stock_quantity) %>
  <%= button_tag "ADD", :class => "add_btn"%>
  <%= text_field_tag(:qty, value = nil,
                              options = {:placeholder => "##",
                                         :class => "qty_box"})%></br>
  <% if product.sale_price > 0 then %>
      <b class="sale">*ON SALE* - Save: <%= product.sale_price %></b><br/>
    <% end %>
  <br/>
  <b>Description: </b> <%= product.description %>
</p>