<h1>Listing all Products</h1>
<br/>
<%= link_to 'New Product', new_product_path %>
<br/>

<% @products.each do |product| %>
  <p>
  <b>Item:</b>
  <%= product.item %>
</p>

<p>
  <b><%= product.name %></b>
  <%= image_tag(product.image, :size => "70x100") %>
  <b>Price: </b><%= product.price %> <b> Stock: </b><%= product.stock_quantity %><br/>
  <%= product.description %> <br/>
    <% if product.sale_price > 0 then %>
      <b>SALE:: SAVE <%= product.sale_price %></b>
    <% end %>
</p>

<br /> 
<%= link_to 'Show', product %> | 
<%= link_to 'Edit', edit_product_path(product) %> |
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br/>
<%= link_to 'New Product', new_product_path %>