<h1>Listing products</h1>

<% @products.each do |product| %>
  <p>
  <b>Item:</b>
  <%= product.item %>
</p>

<p>
  <b><%= product.name %></b>
  <%= image_tag(product.image, :size => "70x100") %>
  <b>Price: </b><%= product.price %> <b></t> Available: </b><%= product.stock_quantity %><br/>
  <%= product.description %> <br/>
    <% if product.sale_price > 0 then %>
      <b>SALE:: SAVE <%= product.sale_price %></b>
    <% end %>
</p>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
