<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @product.item %>
</p>

<p>
  <b><%= @product.name %></b>
  <%= image_tag(@product.image, :size => "70x100") %>
  <b>Price: </b><%= @product.price %> <b></t> Stock: </b><%= @product.stock_quantity %><br/>
  <%= @product.description %> <br/>
    <% if @product.sale_price > 0 then %>
      <b>SALE:: SAVE <%= @product.sale_price %></b>
    <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
