<!DOCTYPE html>
<html>
<head>
  <title>EStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:error] %></p>
  <div class="banner">
    
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to 'Customers', customers_path %></li> 
      <li><%= link_to 'Orders', orders_path %></li>
      <li><%= link_to 'Provences', provences_path %></li>
      <li>
        <%= link_to 'Products', products_path, :id => "product_link"%>
      </li>
      <li id="search">
        <%= form_tag result_path, :method => 'post' do %>
          <%= text_field_tag(:keyword, value = nil, options = {:placeholder => "for products", :class => "search_box"})%>
          <%= submit_tag "Search", :class => "search_btn" %>
        <% end %>
      </li>
    </ul>
  </div>
  <aside>
    <h1>Cart</h1>
    <p>Items here</p>
    <p>Totals here</p>
  </aside>

  <%= yield %>

</body>
</html>
